body {
    /***
      ADD YOUR CUSTOM STYLING HERE. (INSIDE THE body {...} section.)
      IT WILL TAKE PRECEDENCE OVER THE STYLING IN THE STYLE.CSS FILE.
   ***/
    //  background-color: white;
    //  .content {
    //   font-size: 14px;
    //  }
    //  h1 {
    //   color: black;
    //  }
}
/* =======================================================
   DROSHAR CUSTOM CSS
   ======================================================= */

/* Hide Hidden Data section and everything after it */

div:has(> h1[data-heading="Hidden Data"]),
div:has(> h1[data-heading="Hidden Data"]) ~ div {
    display: none !important;
}